{% extends 'base.html' %}

{% block content %}
  <nav class="menu center">
    <ul>
      <li class="current">Menu</li>
      <li><a href="/newEntry/">Create Entry</a></li>
      <li><a href="/displayTemplateForm/">Upload Template</a></li>
      <li><a href="/generateSite/{{site.id}}/">Generate Site</a></li>
      <li><a href="/exportSite/{{site.id}}/">Export Site</a></li>
      <li><a href="/mysites">My Sites</a></li>
      <li><a href="/signout">Signout</a></li>
    </ul>
  </nav>

  <div class="content">
    <h2>{{site.nickname}}</h2>

    <table class="table-stripes">
      <thead>
        <tr>
          <td>ID</td>
          <td>Title</td>
          <td>Publish Date</td>
          <td>Type</td>
        </tr>
      </thead>

      <tbody>
        {% for entry in entries %}
          <tr>
            <td>{{entry.id}}</td>
            <td><a href="/editEntry/{{entry.id}}/">{{entry.title}}</a></td>
            {# <td>{{entry.publishAt.strftime('%d-%b-%y %H:%M')}}</td> #}
            <td>{{entry.publishAt.strftime('%d-%b-%y')}}</td>
            {% if entry.isPost %}
              <td>Post</td>
            {% else %}
              <td>Page</td>
            {% endif %}
            <td><a href="/deleteEntry/{{entry.id}}">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
