{% extends "layout.nunjucks" %}

{% block content %}
	<form name="userprofile" action="/updateProfile/{{user.id}}" method="post" class="siteform">
			<h2>Profile For: {{user.email}}</h2>

			<label for="name" class="control-label">Name:</label>
			<input name="name" type="text" placeholder="Your Name" autofocus="autofocus" class="form-control" value="{{user.name}}">

				<label for="password" class="control-label">Password:</label>
				<input name="password" type="password" placeholder="Password" class="form-control">

				<label for="twitter" class="control-label">Twitter Id:</label>
				<input name="twitter" type="text" placeholder="Your Twitter Id" class="form-control">

					<button type="submit" class="button button-primary">Update Profile</button>
	</form>

{% endblock %}