{% extends "base.html" %}
{% block content %}
<div class="page">
	<header class="pageheader">
		<h1>All Posts</h1>
		<h4>by <a href="/">Joseph Jude</a></h4>
</header>
<div class="pagecontent">
	<section class="listentries">
		{% for entry in entries %}
				<article class="entry">
					<span class="entrymeta">
						<time pubdate="pubdate">{{entry.publishAt.strftime('%d-%b-%y')}}</time>
						{% if entry.tagsHTML %}
							on: {{entry.tagsHTML}}
						{% endif %}
					</span>
					<h3><a href="/{{entry.slug}}/">{{entry.title}}</a></h3>
					<p class="listentrysubtitle">{{entry.subtitle}}</p>
				</article>
		{% endfor %}

	</section>
</div>
{% endblock %}
