{% extends "layout.html" %}

{% block content %}
<div class="page">
	<header class="pageheader">
		<h1>All Posts</h1>
		<h4>under - {{tag}}</h4>
	</header>
	<div class="pagecontent">
		<section class="listentries">
			{% for entry in entries %}
				<article class="entry">
					<span class="entrymeta"><time pubdate="pubdate">{{entry.ptime.strftime('%d-%b-%y') }}</time></span>
					{% if entry.tagsHTML %}on: {{entry.tagsHTML}}{% endif %}
					<h3><a href="/{{entry.slug}}/">{{entry.title}}</a></h3>
					{% if entry.subtitle %}<p class="listentrysubtitle">{{entry.subtitle}}</p>{% endif %}
				</article>
			{% endfor %}
		</section>
	</div>
	{% include 'includes/footer.html' %}
</div>
{% endblock %}
