<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Thlt - Static Blogging For The Rest Of Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We cover your digital assets">
	  <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Joseph Jude">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
		<link rel="icon" href="{{ url_for('static', filename='ico/favicon.ico') }}" type="image/x-icon">
<!--     <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png"> -->
  </head>

  <body class="wrapper">
			<header>
				<h1>Thlt - Static Blogging For The Rest Of Us</h1>
			</header>
      {% block content %}{% endblock %}
  </body>
</html>
