{% extends "base.html" %}

{% block content %}
<div class="sign">
	<form name="input" method="post">
		<h4>Enter mobile number to send OTP:</h4>
		<input class="form-control" name="mobile" type="text" placeholder="Ex: 919899150573" autofocus="autofocus">
		<button type="submit" class="button button-primary">Send Code</button>
	</form>
	<p>Already have passcode?
		<a href="/signin/" title="signin">Signin</a>
	</p>
</div>
{% endblock %}
{#
	TODO: _csrf
  NOTE: if form has to be submitted to the same fn, no action should be in form
	TODO: show errors
#}
